
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    </style>
<center>
    <div style="padding-top:100px"></div>
<div style="width:1000px;background:#f8f8f8;text-align:left;padding:20px;">
<b><tspan style="font-family:Inter">{{data.work_title}}</tspan></b><br><br>

{% for cast in data.cast %}
<tspan style="font-family:Inter">{{ cast.work_agent_nameUsed }}

    {% if cast.work_agent_character %}
    [{{cast.work_agent_character}}]

    {% endif %}
</tspan><br>
{% endfor %}

</div>
</center>